
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Leave Detail</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/role.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
</head>

<body>
	<!-- Header -->
	<header>
		<img class="logo-image" src="/images/laps1.svg" alt="Company logo">


	</header>

	<div class="user-profile">


		<span class="greeting" th:text="'Hello ' + ${session.staffname}"> </span>

	</div>
	<div>

		<div class="col-sm-3">
			<ul class="nav flex-column">
				<li class="nav-item" th:if="${session.role == 'manager'}">
					<a class="nav-link text-info h4 " aria-current="page" href="viewEmployee.html"
						th:href="@{/manager/viewEmployee/}+${session.staffid}">View Employee</a>
				</li>
				<li class="nav-item" style="border-radius: 10px; background-color:#446dc6;">
					<a class="nav-link active text-white-important h4" href="PersonalLeaveHistory.html"
						th:href="@{staff/viewLeaveHistory/} + ${session.staffid}">Leave History</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-info h4" href="submitLeave.html" th:href="@{/staff/submitLeave}">Leave
						Apply</a>
				</li>

			</ul>
		</div>
		<div class="col-sm-9 fill">
			<div class"col-sm-2">
				<a href="#" onclick="history.go(-1); return false;">
					<img class="icon" src="/images/back.svg" alt="SVG Icon">
				</a>
			</div>

			<h3 style="text-align: center;margin-bottom: 15px;margin-top: 5px;">View Leave Detail</h3>
			<form action="#" th:object="${Leave}" method="post"
				th:action="${session.view == 'manager' ? '/manager/updateStatus' : '/staff/update'}">
				<table style="width:50%; margin-left: auto; margin-right: auto;">
					<tr>
						<!--grey-->
					</tr>
					<tr>
						<th><input type="hidden" th:field="*{id}" th:value="*{getId()}">Date Applied:
						</th>
						<td><input type="date" th:field="*{date_applied}" th:value="*{getDate_applied()}" readonly></td>
					</tr>
					<tr>
						<!--grey-->
					</tr>
					<tr>
						<th>Start Date</th>
						<td th:if="${session.view == 'staff' && session.permission == 'true'}"><input type="date"
								th:field="*{leave_start}" th:value="*{getLeave_start()}"></td>
						<td th:if="${session.view == 'manager' || session.permission == 'false'}"><input type="date"
								th:field="*{leave_start}" th:value="*{getLeave_start()}" readonly></td>
					</tr>
					<tr>
						<!--grey-->
					</tr>
					<tr>
						<!--grey-->
					</tr>
					<tr>
						<th>End Date</th>
						<td th:if="${session.view == 'staff' && session.permission == 'true'}"><input type="date"
								th:field="*{leave_end}" th:value="*{getLeave_end()}"></td>
						<td th:if="${session.view == 'manager' || session.permission == 'false'}"><input type="date"
								th:field="*{leave_end}" th:value="*{getLeave_end()}" readonly></td>
					</tr>
					<tr>
						<!--grey-->
					</tr>
					<tr th:if="${session.view == 'manager' && session.permission == 'true'}">
						<th>Status</th>
						<!--<td><input type="text" th:field="*{status}" th:value="*{getStatus()}"></td>-->
						<td>
							<select th:field="*{status}">
								<option th:value="Approved" style="color: springgreen;">Approve</option>
								<option th:value="Rejected" style="color:red">Reject</option>
							</select>
						</td>
					</tr>
					<tr th:if="${session.view == 'staff' || session.permission == 'false'}">
						<th>Status</th>
						<td><input type="text" th:field="*{status}" th:value="*{getStatus()}" readonly></td>
					</tr>
					<tr>
						<th>Comment</th>
						<td th:if="${session.permission == 'true'}"><input type="text" th:field="*{comment}"
								th:value="*{getComment()}"></td>
						<td th:if="${session.permission == 'false'}"><input type="text" th:field="*{comment}"
								th:value="*{getComment()}"></td>
					</tr>
					<tr>
						<th>Leave Count</th>
						<td><input type="number" th:field="*{leavecount}" th:value="*{getLeavecount()}" readonly></td>
					</tr>
					<tr>
						<th>Leave Type</th>
						<td><span th:text="*{leavetype.leaveType}"></span><input type="hidden" th:field="*{leavetype}"
								th:value="*{getLeavetype()}"></td>
					</tr>
					<tr>
						<!--grey--><input type="hidden" th:field="*{staff}" th:value="*{getStaff()}">
					</tr>
					<tr>
						<td>
						</td>
						<td th:if="${session.permission == 'true'}">
							<input type="submit" name="action" value="Update" />
						</td>
						<td th:if="${session.permission == 'true' && session.view == 'staff'}">
							<input type="submit" name="action" value="Delete" />
						</td>
						<td th:if="${session.permission == 'false' && session.view == 'staff'}">
							<input type="submit" name="action" value="Cancel" />
						</td>
					</tr>
				</table>
			</form>
				
			<br />
</body>

</html>