<!--Staff-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header>
	</header>
<body>
	<h3 style="font-family: Microsoft Sans Serif">Submit New Leave Application</h3>
	<form action="#" th:action="@{/staff/submitLeave}"
		th:object="${leaveApplied}" method="post">
		<table>
			<tbody>
				<tr>
					<label style="width: 95px; height: 52px; color: black; padding-left: 36px">Leave Type: </label>
					<select th:field="*{leave_type_id}" style="width: 241px; height: 33px; background: white; border-radius: 4px; border: 1px black solid">
						<option value="" style="text-align:center">Select Leave Type</option>
						<option th:each="leave_type: ${leave_types}" th:value="${leave_type.id}" th:text="${leave_type.LeaveType}" style="text-align:center"></option>
					</select>
				</tr>
				<tr>
					<td><span style="width: 138px; height: 55px; color: black; font-size: 20px;"></span>Leave Start Date: </td>
					<td><input type="date" th:value="*{leave_start}" th:field="*{leave_start}" style="width: 237px; height: 33px; background: white; border-radius: 4px; border: 1px black solid; text-align:center"/></td>
				</tr>
				<tr>
					<td><span style="width: 126px; height: 50px; color: black; font-size: 20px; padding-left: 5px"></span>Leave End Date: </td>
					<td><input type="date" th:value="*{leave_end}" th:field="*{leave_end}" style="width: 237px; height: 33px; background: white; border-radius: 4px; border: 1px black solid; text-align:center"/></td>
				</tr>
				<tr>
					<td><span style="width: 92px; height: 47px; color: black; font-size: 20px; padding-left: 38px"></span>Comments: </td>
					<td><input type="text" th:field="*{comment}" size="40" style="width: 235px; height: 33px; background: white; border-radius: 4px; border: 1px black solid"/></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" value="Submit Leave" class="submitLeave" style="width: 100px; height: 31px; background: white; border-radius: 4px; border: 1px black solid; text-align: center; color: black; font-size: 13px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"/>
						<input type="reset" value="Reset" class="submiLeave"  style="width: 79px; height: 31px; background: white; border-radius: 4px; border: 1px black solid; text-align: center; color: black; font-size: 13px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"/>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>