<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/role.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update Entitle Leave</title>
	
</head>

<body>
	<header>
		<img class="logo-image" src="/images/laps1.svg" alt="Company logo">
	</header>
	
	<div class="user-profile">
	<span class="greeting">Hello, User</span>
	</div>
	
	<div>

		<div class="col-sm-3">
			<ul class="nav flex-column">
				<li class="nav-item" style="border-radius: 10px; background-color:#446dc6;">
					<a class="nav-link active text-white-important h4 " aria-current="page" href="viewEmployee.html"
							th:href="@{/manager/viewEmployee/1}">Add User</a>
				</li>
					<li class="nav-item">
						<a class="nav-link text-info h4" href="#">Update Entitle Leave</a>
					</li>
				<li class="nav-item">
						<a class="nav-link text-info h4" href="#">User List</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="col-sm-9 fill">
    <h2>Update Entitle Leave</h2>

    <!-- Form for handling Annual leave with employee type -->
    <form action="#" th:action="@{/admin/updateEntitleLeave}" method="post" th:object = "${leavetype}">
        <h3>Annual Leave with Employee Type</h3>
        <table>
            <tbody>
				<tr>
					<td>
						<input type = "hidden" th:field = "*{id}" th:value = "*{id}">
						<label>Leave Type</label>
					</td>
					<td>
						<input type = "text" th:field = "*{LeaveType}" th:value = "*{LeaveType}" readonly>
					</td>
				</tr>
                <tr>
                    <td>
                        <label>Leave Entitlement(days):</label>
                    </td>
                    <td>
                        <input type="number" name="leave_entitle" th:value = "${entitle}">
                    </td>
                </tr>
                <tr th:if = "${anual == 'true'}">
                    <td>
                        <label>Employee designation:</label>
                    </td>
                    <td>
                        <select name="employeeType">
                            <option value="Professional">Professional</option>
                            <option value="Administrative">Administrative</option>
                        </select>
                    </td>
                </tr>
                <tr th:if = "${anual == 'false'}">
					<input type = "hidden" name = "employeeType" value = "professional">
				</tr>
                <tr>
                    <td>
                        <input type="submit" value="Update Leave Type">
                    </td>
                    <td>
                        <input type="reset" value="Reset">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</body>
</html>