<!--updateUser-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/role.css">

<link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">

<body>
	<header>
		<img class="logo-image" src="/images/laps1.svg" alt="Company logo">
		<div class="user-profile">
			<span class="greeting">Hello, Admin</span>
		</div>
	</header>
	<div>

		<div class="col-sm-3">
			<ul class="nav flex-column">
				<li class="nav-item" style="border-radius: 10px; background-color:#446dc6;">
					<a class="nav-link active text-white-important h4 " aria-current="page" href="addUser.html" th:href = "@{/admin/createUser}">Add User</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-info h4" href="updateEntitleLeave.html" th:href = "@{/admin/leaveTypeList}">Leave Type List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-info h4" href="userList.html" th:href = "@{/admin/userList}">User List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-info h4" th:href="@{/admin/holidayList}">Holiday List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-info h4" th:href="@{/admin/addHoliday}">Add Holiday</a>
				</li>

			</ul>
		</div>
		<div class="col-sm-9 fill">

			<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Page</title>
	<div class="col-sm-9 submitform-area">
		<div class"col-sm-2">
				<a href="#"
							onclick="history.go(-1); return false;">
					<img class="icon" src="/images/back.svg" alt="SVG Icon">
				</a>
			</div>

			<h3 style="text-align: center;margin-bottom: 15px;margin-top: 5px;">Update User</h3>
	<h3 style="font-family: Microsoft Sans Serif">Update User</h3>
	<form action="#" th:action="@{/admin/updateUser}" th:object="${staff}" method="post">
		<table>
			<tbody>
				<tr>
					<td>
						<label> Staff Name </label>
					</td>
					<td>
						<input type="hidden" th:field="*{id}" th:value = "*{id}">
						<input type="text" th:field="*{staff_name}" th:value = "*{staff_name}">
					</td>
				</tr>
				<tr>
					<td>
						<label> Designation </label>
					</td>
					<td>
						<select th:field="*{designation}" th:value = "*{designation}">
							<option value="professional">Professional employee</option>
							<option value="admininstrative">Admininstrative employee</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label> Manager Name</label>
					</td>
					<td>
						<select th:if = "${manager != null}" th:field="*{manager}" th:value = "*{manager.staff_name}">
							<option th:value = null></option>
							<option th:each="user: ${managers}" th:value="${user.staff.id}"
								th:text="${user.staff.staff_name}" style="text-align:center"></option>
						</select>
						<select th:if = "${manager == null}" th:field="*{manager}">
							<option th:value = null></option>
							<option th:each="user: ${managers}" th:value="${user.staff.id}"
								th:text="${user.staff.staff_name}" style="text-align:center"></option>
						</select>
					</td>
				</tr>
				<td>
					<label>Roles</label>
				</td>
				<td th:object="${user}">
					<input type="hidden" th:field="*{id}" th:value = "*{id}">
					<input type="hidden" th:field="*{user_name}" th:value = "*{user_name}">
					<input type="hidden" th:field="*{password}" th:value = "*{password}">
					<div th:each="role : ${allroles}">
						<input type="checkbox" th:field="*{roles}" th:value="${role.id}" id="${'role_' + role.id}">
						<label th:for="${'role_' + role.id}" th:text="${role.role}"></label>
					</div>
				</td>
				<tr>
					<td></td>
					<td>
						<input type="submit" value="Update" class="submit-button" />
						<input type="reset" value="Reset" class="submit-button" />
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>

</html>